---
import SocialLinks from './SocialLinks.astro';
import PrimaryLogo from './PrimaryLogo.astro'

const today = new Date();

import { SITE_TITLE, SITE_LOGO, COPYRIGHT_LEGAL_NAME, SITE_OWNER_URL, FOOTER_EXTRA, A11Y_ISSUE_LINK } from '../consts';
---

<footer class="bg-blue-950">
	<div class="container mx-auto flex flex-col items-center space-y-6 p-12">
		<PrimaryLogo title={SITE_TITLE} logo={SITE_LOGO} />
		
		<span class="text-center">&copy; 
			{today.getFullYear()}
			{ SITE_OWNER_URL && 
				<a href={SITE_OWNER_URL}>{ COPYRIGHT_LEGAL_NAME }</a>
			}
			{ !SITE_OWNER_URL &&
				<b>{ COPYRIGHT_LEGAL_NAME }</b>
			} &bull;
			{ FOOTER_EXTRA }
		</span>

		<SocialLinks />
		
		{ A11Y_ISSUE_LINK && 
			<span class="text-center">Accessibility issues? <a href={A11Y_ISSUE_LINK}>Report them here!</a></span>
		}
	</div>
</footer>