---
import Base from './Base.astro';

import type { CollectionEntry } from 'astro:content';
type Props = CollectionEntry<'blog'>['data'];
import FormattedDate from '../components/FormattedDate.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

const { useHeroOverlay = false, title, description, pubDate, updatedDate, heroImage, tags, category } = Astro.props.frontmatter || Astro.props;
---

<Base title={SITE_TITLE} description={SITE_DESCRIPTION} lead={description} leadTitle={title} heroImage={heroImage} pubDate={pubDate} updatedDate={updatedDate} type="article" category={category} tags={tags} useHeroOverlay={useHeroOverlay}>
    <article class="container mx-auto">
        <div class="md:w-1/2 mx-auto">
            <slot />
        
            <!-- when any floated images are used in a post, this makes them contribute to the page height -->
            <div class="clear-both" />
        </div>
    </article>
</Base>