---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { Icon } from 'astro-icon/components';
import FormattedDate from '../components/FormattedDate.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
const { useHeroOverlay = false, title = SITE_TITLE, description = SITE_DESCRIPTION, type, pubDate, lead, leadTitle, ritchie, heroImage, updatedDate, category, tags } = Astro.props.frontmatter || Astro.props;

const pageTitle = leadTitle ? `${leadTitle} &bull; ${title}` : title;
const pageDescription = lead || description;

const pageTags = tags ? tags.split(',').map((tag) => tag.trim()) : [];
---

<html lang="en">
<head>
    <BaseHead title={pageTitle} description={pageDescription} image={heroImage} type={type} category={category} tags={pageTags} date={pubDate} modified={updatedDate} />
</head>

<body>
<Header />
{(lead || leadTitle || heroImage || ritchie ) &&
    <section class={heroImage ? `bg-cover ${useHeroOverlay ? 'bg-blend-overlay bg-blue-950' : ''}` : 'bg-blue-900'} style={heroImage ? `background-image: url('${heroImage}')` : ''}>
        <div class="container flex flex-col mx-auto items-center p-12 space-y-6">
            { ritchie &&
                <img alt="Ritchie" src="/assets/ritchie.png" class="rounded-full object-fill border-2 border-solid border-white aspect-square w-96" />
            }
            { leadTitle && <h1 class="text-6xl text-center leading-tight">{leadTitle}</h1> }
            { lead && <p class="text-xl font-light text-center">{lead}</p> }

            <div class="flex items-center space-x-12">
                { category &&
                        <div class="flex items-center space-x-2">
                            <Icon name="mdi:category" />
                            <span>{category}</span>
                        </div>
                }
                { pubDate && 
                        <div class="flex items-center space-x-2">
                            <Icon name="mdi:calendar" />
                            <FormattedDate date={pubDate} />
                        </div>
                }
                { updatedDate &&
                        <div class="flex items-center space-x-2">
                            <Icon name="mdi:update" />
                            <FormattedDate date={updatedDate} />
                        </div>
                }
            </div>
        </div>
    </section>
}
<main class="p-6 flex flex-col items-center">
    <slot />
</main>
<Footer />

<script is:inline src="/js/flowbite.min.js"></script>
</body>
</html>
